html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.swiper-container {
  background-color: #000;
}

.swiper-container,
.swiper-slide {
  height: 100%;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}



.swiper-slide img {
  width: 100%;
  height: 100%;
}

main {
  position: fixed;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  height: 602px;
  width: 302px;
  background-image: url("../images/iphonex2.png");
  background-size: 100% 100%;
  padding: 18px 19px 17px 19px;
  overflow: hidden;
  box-sizing: border-box;
  overflow: hidden;
}


 /* .bangs {
  position: absolute;
  top: 18px;
  left: 76px;
  width: 148px;
  height: 20px;
  background-image: url("../images/liuhai.png");
  background-size: 100% 100%;
  z-index: 10000;
} */

 .content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  overflow: hidden;
}

/*  */
.gradient {
  position: absolute;
  width: 100%;
  max-width: 640px;
  height: 100%;
  background-image: -webkit-linear-gradient(top, #f7f7f7  65%, rgba(0,0,0,0.9) );
  background-image: -moz-linear-gradient(top, #f7f7f7  65%, rgba(0,0,0,0.9));
  background-image: linear-gradient(to bottom, #f7f7f7  65%, rgba(0,0,0,0.9) );
  z-index: 1000;
}

.mn-title {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  z-index: 100;
}

.mn-author {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../images/author.jpg");
  background-size: 30px 30px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
  z-index: 1000;
}

.mn-audio {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../images/audio.png");
  background-size: 30px 30px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
  z-index: 1000;

  animation:rotateCD 3s linear infinite;
}

@keyframes rotateCD {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mn-gradient {
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  z-index: 1000;
}





/* 第一屏 */
.first {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: pink;
}

.first .hello-wrap {
  width: 280px;
  height: 257px;
  background-color: #fff;
}

.second {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: hotpink;
}

.third {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: darkorchid;
}

.fourth {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
}

.fifth {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: greenyellow;
}

.sixth {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: orangered;
}

.seventh {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: lightsalmon;
}